*.md
.DS_Store
.eslintcache
.eslintrc
.github
.gitignore
.meteor
.meteorignore
.mocharc.json
.npm
.versions
dist
dist/*
docs
docs/*
examples
examples/*
lib/meteor.js
node_modules
npm-debug.log*
package.js
package-types.json
test/
test/*
tsconfig.json